<div class="page-wrapper">

  <!-- LEFT SIDE - SCHEDULE LIST -->
  <div class="schedule-sidebar">

    <h3>Works</h3>

    <div
      *ngFor="let s of schedules"
      class="schedule-item"
      [class.active]="selectedSchedule?.id === s.id"
      (click)="openSchedule(s)">

      {{ s.workName }}

    </div>

  </div>

  <!-- RIGHT SIDE - TASK PANEL -->
  <div class="task-panel" *ngIf="selectedSchedule">

    <h2>
      {{ selectedSchedule.workName }}
    </h2>

    <!-- ================= PROGRESS ================= -->
    <div class="progress-container">
      <div class="progress-header">
        <span>Progress</span>
        <span>{{ getScheduleProgress() }}%</span>
      </div>

      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="getScheduleProgress()">
        </div>
      </div>
    </div>

    <!-- ADD TASK -->
    <div class="form-row">

      <select [(ngModel)]="selectedContractorId">
        <option [ngValue]="null">Select Contractor</option>
        <option *ngFor="let c of contractors" [ngValue]="c.id">
          {{ c.name }}
        </option>
      </select>

      <input type="text" placeholder="Task name" [(ngModel)]="newTask.title">
      <input type="date" [(ngModel)]="newTask.startDate">
      <input type="date" [(ngModel)]="newTask.endDate">

      <button class="btn-primary" (click)="addTask()">
        Add Task
      </button>

    </div>

    <!-- TASK TABLE -->
    <table>
      <thead>
        <tr>
          <th>Contractor</th>
          <th>Task</th>
          <th>Start</th>
          <th>End</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let task of scheduleTasks">

          <td>{{ task.contractorName }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.startDate | date }}</td>
          <td>{{ task.endDate | date }}</td>

          <td>
            <span
              [ngClass]="{
                'planned': task.status === 'PLANNED',
                'progress': task.status === 'IN_PROGRESS',
                'completed': task.status === 'COMPLETED'
              }">
              {{ task.status }}
            </span>
          </td>

          <td>

            <button
              *ngIf="task.status === 'PLANNED'"
              class="btn-primary"
              (click)="updateTaskStatus(task,'IN_PROGRESS')">
              Start
            </button>

            <button
              *ngIf="task.status === 'IN_PROGRESS'"
              class="btn-success"
              (click)="updateTaskStatus(task,'COMPLETED')">
              Finish
            </button>

            <button class="btn-edit" (click)="editTask(task)">
              Edit
            </button>

            <button class="btn-delete" (click)="deleteTask(task.id)">
              Delete
            </button>

          </td>

        </tr>
      </tbody>
    </table>

  </div>

</div>